//
//  Release.xcconfig
//  BTLB
//
//  Created by Martin Kim Dung-Pham on 16.12.22.
//  Copyright © 2022 neoneon. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_NAME = BTLB
MARKETING_VERSION = 2.28.0
CURRENT_PROJECT_VERSION = 1

PUSH_NOTIFICATION_SERVER_URL = https:/$()/neoneon.dev/btlb/pushtoken
