<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HARBURG</key>
	<dict>
		<key>identifier</key>
		<string>HARBURG</string>
		<key>version</key>
		<real>1.41</real>
		<key>name</key>
		<string>Harburg</string>
		<array/>
		<key>userinfoConnectionString</key>
		<string>https://katalog.b.tu-harburg.de/loan/DB=1/LNG=DU/USERINFO?ACT=UI_DATA</string>
		<key>subtitle</key>
		<string>Technische Universität Hamburg-Harburg Universitätsbibliothek</string>
		<key>serviceAvailability</key>
		<string>https://katalog.b.tu-harburg.de/loan/DB=1/LNG=DU/USERINFO_LOGIN?</string>
		<key>searchSortString</key>
		<string>&amp;SRT=YOP</string>
		<key>searchPageString</key>
		<string>&amp;NXT?FRST=</string>
		<key>searchDetailStringFull</key>
		<string>https://katalog.b.tu-harburg.de:443/DB=1/XML=1.0/SHW?FRST=</string>
		<key>searchBaseString</key>
		<string>&amp;ACT=SRCH</string>
		<key>searchALLstring</key>
		<string>A</string>
		<key>renewalsConnectionString</key>
		<string>https://katalog.b.tu-harburg.de:443/php/nr_renewals.php?</string>
		<key>prolongConnectionString</key>
		<string>https://katalog.b.tu-harburg.de/loan/DB=1/LNG=EN/USERINFO?ACT=UI_RENEWLOAN</string>
		<key>ppnSearchString</key>
		<string>&amp;IKT=12</string>
		<key>loginConnectionString</key>
		<string>https://katalog.b.tu-harburg.de:443/loan/DB=1/USERINFO?ACT=UI_DATA</string>
		<key>loansConnectionString</key>
		<string>https://katalog.b.tu-harburg.de:443/loan/DB=1/LNG=DU/USERINFO?ACT=UI_LOL</string>
		<key>chargesConnectionString</key>
		<string>https://katalog.b.tu-harburg.de:443/loan/DB=1/LNG=DU/USERINFO?ACT=UI_LOC</string>
		<key>catalogueBaseStringXML</key>
		<string>https://katalog.b.tu-harburg.de:443/DB=1/XML=1.0/CMD?</string>
		<key>catalogueBaseString</key>
		<string>https://katalog.b.tu-harburg.de/DB=1/CMD?</string>
		<key>catalogueStringEncoding</key>
		<integer>4</integer>
		<key>catalogueLogo</key>
		<string></string>
		<key>libraryType</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
