<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>20</integer>
	<key>Libraries</key>
	<array>
		<dict>
			<key>library_type</key>
			<integer>0</integer>
			<key>identifier</key>
			<string>BERLIN</string>
			<key>name</key>
			<string>Berlin</string>
			<key>subtitle</key>
			<string>Staatsbibliothek Preußischer Kulturbesitz</string>
            <key>base_url</key>
            <string>https://lbssbb.gbv.de</string>
            <key>catalog_url</key>
            <string>https://lbssbb.gbv.de/DB=1</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>MAGDEBURG</string>
			<key>name</key>
			<string>Magdeburg</string>
			<key>subtitle</key>
			<string>Universitätsbibliothek</string>
            <key>base_url</key>
            <string>https://lbssbb.gbv.de</string>
            <key>catalog_url</key>
            <string>https://opac.lbs-magdeburg.gbv.de/DB=1</string>
        </dict>
        <dict>
            <key>identifier</key>
            <string>LUENEBURG</string>
            <key>name</key>
            <string>Lüneburg</string>
            <key>subtitle</key>
            <string>Leuphana Universitätsbibliothek</string>
            <key>base_url</key>
            <string>https://katalog.leuphana.gbv.de</string>
            <key>catalog_url</key>
            <string>https://katalog.leuphana.gbv.de/DB=1</string>
        </dict>
        <dict>
            <key>identifier</key>
            <string>BRAUNSCHWEIG</string>
            <key>name</key>
            <string>Braunschweig</string>
            <key>subtitle</key>
            <string>Universitätsbibliothek</string>
            <key>base_url</key>
            <string>https://lbsbrs.gbv.de</string>
            <key>catalog_url</key>
            <string>https://lbsbrs.gbv.de/DB=1</string>
		</dict>
        <dict>
            <key>identifier</key>
            <string>WOLFENBUETTEL</string>
            <key>name</key>
            <string>Herzog August Bibliothek Wolfenbüttel</string>
            <key>subtitle</key>
            <string>Forschungs- und Studienstätte für europäische Kulturgeschichte</string>
            <key>base_url</key>
            <string>https://lbsbrs.gbv.de</string>
            <key>catalog_url</key>
            <string>https://lbsbrs.gbv.de/DB=1</string>
        </dict>
        <dict>
            <key>identifier</key>
            <string>SHLB</string>
            <key>name</key>
            <string>Kiel</string>
            <key>subtitle</key>
            <string>Schleswig-Holsteinische Landesbibliothek</string>
            <key>base_url</key>
            <string>https://katalog.ub.uni-kiel.de</string>
            <key>catalog_url</key>
            <string>https://katalog.ub.uni-kiel.de/DB=3</string>
        </dict>
        <dict>
            <key>identifier</key>
            <string>MUTHESIUS</string>
            <key>name</key>
            <string>Kiel</string>
            <key>subtitle</key>
            <string>Muthesius Kunsthochschule</string>
            <key>base_url</key>
            <string>https://katalog.ub.uni-kiel.de</string>
            <key>catalog_url</key>
            <string>https://katalog.ub.uni-kiel.de/DB=6</string>
        </dict>
		<dict>
			<key>identifier</key>
			<string>KIEL</string>
			<key>name</key>
			<string>Kiel</string>
			<key>subtitle</key>
			<string>Christian-Albrechts-Universität zu Kiel</string>
            <key>base_url</key>
            <string>https://katalog.ub.uni-kiel.de</string>
            <key>catalog_url</key>
			<string>https://katalog.ub.uni-kiel.de/DB=1</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>ILFH</string>
			<key>name</key>
			<string>Schmalkalden</string>
			<key>subtitle</key>
			<string>Cellarius-Hochschulbibliothek</string>
            <key>base_url</key>
            <string>https://opac.lbs-ilmenau.gbv.de</string>
            <key>catalog_url</key>
            <string>https://opac.lbs-ilmenau.gbv.de/DB=2</string>
		</dict>
        <dict>
            <key>identifier</key>
            <string>ILMENAU</string>
            <key>name</key>
            <string>Ilmenau</string>
            <key>subtitle</key>
            <string>Universitätsbibliothek</string>
            <key>base_url</key>
            <string>https://opac.lbs-ilmenau.gbv.de</string>
            <key>catalog_url</key>
            <string>https://opac.lbs-ilmenau.gbv.de/DB=1</string>
        </dict>
		<dict>
			<key>identifier</key>
			<string>HKSF</string>
			<key>name</key>
			<string>Hannover</string>
            <key>subtitle</key>
            <string>Kurt-Schwitters-Forum</string>
            <key>base_url</key>
            <string>https://lbshan.gbv.de</string>
            <key>catalog_url</key>
            <string>https://lbshan.gbv.de/DB=11</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>HILDESHEIM</string>
			<key>name</key>
			<string>Hildesheim</string>
			<key>subtitle</key>
			<string>Universitätsbibliothek</string>
            <key>base_url</key>
            <string>https://opac.lbs-hildesheim.gbv.de</string>
            <key>catalog_url</key>
            <string>https://opac.lbs-hildesheim.gbv.de/DB=1</string>
		</dict>
		<dict>
            <key>identifier</key>
            <string>HFHH</string>
            <key>name</key>
            <string>Hannover</string>
            <key>subtitle</key>
            <string>Bibliothek der Hochschule Hannover</string>
            <key>base_url</key>
            <string>https://opac.tib.eu</string>
            <key>catalog_url</key>
            <string>https://opac.tib.eu/DB=4</string>
        </dict>
        <dict>
            <key>identifier</key>
            <string>LUH</string>
            <key>name</key>
            <string>Hannover</string>
            <key>subtitle</key>
            <string>Leibniz Universität Hannover</string>
            <key>base_url</key>
            <string>https://opac.tib.eu</string>
            <key>catalog_url</key>
            <string>https://opac.tib.eu/DB=12</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>HELMUTSCHMIDT</string>
			<key>name</key>
			<string>Helmut-Schmidt-Universität</string>
			<key>subtitle</key>
			<string>Universitätsbibliothek</string>
            <key>base_url</key>
            <string>https://lbshsu.gbv.de</string>
            <key>catalog_url</key>
            <string>https://lbshsu.gbv.de/DB=1</string>
		</dict>
		<dict>
            <key>identifier</key>
            <string>HARBURG</string>
            <key>name</key>
            <string>Hamburg-Harburg</string>
            <key>subtitle</key>
            <string>Universitätsbibliothek der TUHH</string>
            <key>base_url</key>
            <string>https://katalog.b.tuhh.de</string>
            <key>catalog_url</key>
            <string>https://katalog.b.tuhh.de/DB=1</string>
        </dict>
        <dict>
			<key>identifier</key>
			<string>HAFENCITYUNI</string>
			<key>name</key>
			<string>Hamburg</string>
			<key>subtitle</key>
			<string>HafenCity Universität</string>
            <key>base_url</key>
            <string>https://katalog.b.tuhh.de</string>
            <key>catalog_url</key>
            <string>https://katalog.b.tuhh.de/DB=22</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>HANNOVER</string>
			<key>name</key>
			<string>Hannover</string>
			<key>subtitle</key>
			<string>Technische Informationsbibliothek</string>
            <key>base_url</key>
            <string>https://lbshan.gbv.de</string>
            <key>catalog_url</key>
            <string>https://lbshan.gbv.de/DB=1</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>HAMBURG</string>
			<key>name</key>
			<string>Hamburg</string>
			<key>subtitle</key>
			<string>Staats und Universitätsbibliothek Hamburg</string>
			<key>base_url</key>
            <string>https://kataloge.hh.gbv.de</string>
            <key>catalog_url</key>
			<string>https://kataloge.hh.gbv.de/DB=1</string>
		</dict>
		<dict>
			<key>library_type</key>
			<integer>1</integer>
			<key>identifier</key>
			<string>HAMBURGPUBLIC</string>
			<key>name</key>
			<string>Hamburg</string>
			<key>subtitle</key>
			<string>Stiftung Hamburger Öffentliche Bücherhallen</string>
			<key>base_url</key>
            <string>https://buecherhallen.de</string>
            <key>catalog_url</key>
			<string>https://buecherhallen.de</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>ROSTOCK</string>
			<key>name</key>
			<string>Rostock</string>
			<key>subtitle</key>
			<string>Universitätsbibliothek</string>
            <key>base_url</key>
            <string>https://opac.lbs-rostock.gbv.de</string>
            <key>catalog_url</key>
            <string>https://opac.lbs-rostock.gbv.de/DB=1</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>GREIFSWALD</string>
			<key>name</key>
			<string>Greifswald</string>
			<key>subtitle</key>
			<string>Universitätsbibliothek</string>
            <key>base_url</key>
            <string>https://lhgrw.gbv.de</string>
            <key>catalog_url</key>
            <string>https://lhgrw.gbv.de/DB=1</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>GOETTINGEN</string>
			<key>name</key>
			<string>Göttingen</string>
			<key>subtitle</key>
			<string>Staats und Universitätsbibliothek</string>
            <key>base_url</key>
            <string>https://opac.sub.uni-goettingen.de</string>
            <key>catalog_url</key>
            <string>https://opac.sub.uni-goettingen.de/DB=1</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>WISMAR</string>
			<key>name</key>
			<string>Wismar</string>
			<key>subtitle</key>
			<string>Hochschulbibliothek</string>
            <key>base_url</key>
            <string>https://lbswis.gbv.de</string>
            <key>catalog_url</key>
            <string>https://lbswis.gbv.de/DB=1</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>ERFURT</string>
			<key>name</key>
			<string>Erfurt/Gotha</string>
			<key>subtitle</key>
			<string>Universitäts- und Forschungsbibliothek</string>
            <key>base_url</key>
            <string>https://opac.uni-erfurt.de</string>
            <key>catalog_url</key>
            <string>https://opac.uni-erfurt.de/DB=1</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>HAW</string>
			<key>name</key>
			<string>Hamburg</string>
			<key>subtitle</key>
			<string>Hochschule für Angewandte Wissenschaften</string>
            <key>base_url</key>
            <string>https://kataloge.hh.gbv.de</string>
            <key>catalog_url</key>
            <string>https://kataloge.hh.gbv.de/DB=2</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>ANHALT</string>
			<key>name</key>
			<string>Anhalt</string>
			<key>subtitle</key>
			<string>Hochschule Anhalt</string>
            <key>base_url</key>
            <string>https://opac.lbs-anhalt.gbv.de</string>
            <key>catalog_url</key>
            <string>https://opac.lbs-anhalt.gbv.de</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>COMMERZ_HH</string>
			<key>name</key>
			<string>Hamburg</string>
			<key>subtitle</key>
			<string>Commerzbibliothek</string>
            <key>base_url</key>
            <string>https://lbsvz2.gbv.de</string>
            <key>catalog_url</key>
            <string>https://lbsvz2.gbv.de/DB=67</string>
		</dict>
	</array>
</dict>
</plist>
